<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_muscle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_muscle_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Brorkout"
        tools:targetApi="31" >
        <activity
            android:name=".app_intro.view.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_login.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".app_signup.view.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".plans_archive.view.ScheduleArchiveActivity"
            android:exported="false" />
        <activity
            android:name=".app_personal_area.view.PersonalAreaActivity"
            android:exported="false" />
        <activity
            android:name=".plans_creation.view.PlanCreatorActivity"
            android:exported="false" />
        <activity
            android:name=".plans_selection.view.SelectScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".app_starting_menu.view.StartingMenuActivity"
            android:exported="false"/>
        <activity
            android:name=".plans_execution.view.ExecutionScheduleActivity"
            android:exported="false"
            android:label="@string/title_activity_gestore_scheda"
            android:theme="@style/Theme.Brorkout.NoActionBar" />
    </application>

</manifest>